:root{
    --primary-green:#Bdebe2;
    --red-accent: rgba(244,114,99,0.9);
    --light-pink:rgba(250,194,193,255);
    --light-blue: rgb(103,191,222);
    --blue-gradient: linear-gradient(160deg, rgba(103,191,222,0.8), rgba(29, 153, 161,0.5));
    --shadow: rgba(176,176,173,0.6);
}

body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(160deg, rgba(126,195,176,0.5),rgba(126,195,176,1));
    background-attachment: fixed;
}

header {
    text-align: center;
    margin: auto;
    padding-top: 00.5rem;
    color: var(--primary-green);
    background-color: var(--red-accent);
}

header > p {
    padding-bottom: 1rem;
    font-style: italic;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0.5rem;
}

.card-header {
    position: relative;
    margin-top: -45px;
    background-color: var(--red-accent);
    border-radius: 3px;
    color: var(--primary-green);
    padding: 0.3rem;
}

.card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 1.4rem;
    padding: 1.5rem;
    border-style: dashed;
    border-width: 3px;
    border-radius: 4px;
    border-color: var(--red-accent);
    flex: 1 1 30%;
    background-image: var(--blue-gradient);
}

footer {
    text-align: center;
    opacity: 0.6;
}

.grow{
    transition: all .2s ease-in-out;
}

.grow:hover {
    transform: scale(1.1);
}

@media screen and (min-width: 1200px) {
    .card {
        flex: 1 1 20%;
    }
}

@media screen and (max-width: 750px) {
    .card {
        flex: 1 1 50%;
    }
}
